@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fffffa; */
  background-color: #f2efea;
  font-family: "Mukta", sans-serif;
}

header {
  /* background-color: #98d2eb; */
  background-color: #565eaf;
}
